In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('data/billboard-2.0-index.csv')
df.head()

,id,chart_date,target_rank,actual_rank,title,artist,peak_rank,weeks_on_chart
0,1,1987-07-11,82,NaN,NaN,NaN,NaN,NaN
1,2,1973-08-04,14,NaN,NaN,NaN,NaN,NaN
2,3,1961-07-03,56,57.0,I Don't Mind,James Brown,47.0,8.0
3,4,1971-08-07,32,31.0,You've Got A Friend,"Roberta Flack,Donny Hathaway",29.0,12.0
4,5,1976-07-10,51,NaN,NaN,NaN,NaN,NaN

In [6]:
len(df)

1300

In [8]:
df.title.isna().value_counts()

False    890
True     410
Name: title, dtype: int64

In [9]:
df.artist.isna().value_counts()

False    890
True     410
Name: artist, dtype: int64